# Maven and Java
/target/
api/target/
spec/target/
tck/target/
examples/target/
examples/fraud-detection/target/
*.class
*.jar
*.war
*.ear

# IDEs
/.idea/
*.iml
*.ipr
*.iws
/.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
/node_modules/
